<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Are you sure you want to delete {{ course.name }}?</h1>
    <form action="{% url 'course_final_remove' user_id=course.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete Forever">
    </form>
    <form action="{% url 'course_display' %}" method="get">
        {% csrf_token %}
        <input type="submit" value="Cancel">
    </form>
</body>
</html>