<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'courses:add_course' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Add">
    </form>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
    </table>
    {% for course in courses %}
        <td>{{ course.name }}</td>
        <td>{{ course.desc }}</td>
        <td>{{ course.added }}</td>
        <a href="{% url 'courses:course_delete' user_id=course.id %}">remove</a>
        {% endfor %}
</body>
</html>